.form {
  width: 20rem;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

input {
  margin-left: 1rem;
}

.feedbackMessage {
 color: green;
}

.feedbackMessage.error {
  color: red;
}

button.active:hover {
  filter: brightness(90%);
}