.navigation {
  width: 100%;
  background-color: var(--background-main-color);
  color: #cccccc;
}

.navigation__list {
  margin: 0;
  padding: 1em;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.navigation__listItem--last {
  margin-left: auto;
}

.navigation__link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0.5em;
  display: block;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link.active {
  color: white;
  background-color: black;
}

.navigation__link.active:hover {
  outline: 1px solid black;
}
