section {
  text-align: center;
}

button {
  background-color: var(--inactive-background-color);
  color: var(--inactive-font-color);
  cursor: pointer;
  border: 1px solid var(--inactive-font-color);
  border-radius: 20px;
  padding: 0.5em 1em;
}

button + button {
  margin-left: 1rem;
}

button:hover,
button:focus,
button.active {
  background-color: var(--active-background-color);
  color: var(--active-font-color);
  border: 1px solid var(--active-font-color);
}