.section {
  height: 100%;
  text-align: center;
  background-color: var(--active-background-color);
  color: #cccccc;
}

.section__heading {
  font-size: clamp(1.5rem, 5vw, 5rem);
  font-weight: 900;
}